/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Card hover effect for skills */
.card:hover {
  transform: translateY(-5px);
  transition: 0.3s;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
#home {
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), 
                url("{% static 'images/rohan.jpg' %}") center center no-repeat;
    background-size: contain; /* 👈 ensures full image is visible */
    background-attachment: fixed;
    background-color: #000; /* fallback background */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
